@import "tailwindcss";
/* @import "swiper/css"; */

@plugin "daisyui" {
  themes: dark --prefersdark, synthwave;
}
@custom-variant dark (&:is(.dark *));
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: oklch(24.366% 0.08824 274.208 / 0.197);
  --foreground: oklch(69.773% 0.00565 248.229);
}
/* .swiper-wrapper {
  width: 75%;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  max-width: 75%;
  min-height: 200px;
} */
.swiper {
  width: 75%;
  max-height: 200px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  max-width: 250px;
 height: 200px;
  margin: 0 auto 6rem auto;
  padding-bottom: 6rem;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 200px
}

/* @media (prefers-color-scheme: dark) { */
/* :root {
  --background: #1d134a;
  --foreground: #ededed;
} */

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
}
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
} */
